name: Lint

on:
    pull_request:
        types: [opened, edited, reopened, synchronize]
    pull_request_review_comment:
        types: [created, edited]

jobs:
    commitlint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Install commitlint
              run: npm install --save-dev @commitlint/config-conventional @commitlint/cli

            - name: Validate current commit
              run: npx commitlint --from HEAD~1 --to HEAD

            - name: Validate PR commits
              if: github.event_name == 'pull_request'
              run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to HEAD